@charset "utf-8";

.pfp{
	float: right;
	width: 382px;
	height: 364px;
	margin-top: 50px;
	margin-right: 170px;
	}
.linkedin {
	width: 22px;
	margin-top: 95px;
	float: left;
	clear: both;
}
.intro-container {
	height: 470px;
	clear: both;
	float: right;
	width: 1150px;
	margin-right: 600px;
	margin-top: 68px;
}
.intro-header {
	margin-top: 40px;
	margin-left: 20px;
	color: #000000;
	text-decoration: none;
	float: left;
	text-align: left;
}
.intro-heading {
	color: #000000;
	font-family: "Caros Soft", "Caros Soft Bold", "Caros Soft ExtraBold", "Caros Soft Heavy", "Caros Soft Medium";
	font-weight: 600;
	font-size: 40px;
}

.intro-subheading {
	text-decoration: none;
	font-family: "Caros Soft", "Caros Soft Bold", "Caros Soft ExtraBold", "Caros Soft Heavy", "Caros Soft Medium";
	text-align: left;
	font-size: 18px;
	color: #75737B;
	margin-top: -42px;
	font-weight: 500;
}
.intro-description {
	color: #8c8c8c;
	font-family: "Caros Soft", "Caros Soft Bold", "Caros Soft ExtraBold", "Caros Soft Heavy", "Caros Soft Medium";
	font-size: 16px;
	width: 300px;
}

.button {
	display: flex;
	height: 42px;
	background-color: #6C55E0;
	border: none;
	outline: none;
	border-radius: 5px;
	overflow: hidden;
	font-family: "Quicksand", sans-serif;
	font-size: 16px;
	font-weight: 500;
	cursor: pointer;
	width: 132px;
	float: left;
	clear: left;
	margin-left: 40px;
	margin-top: 17px;
}

.button:hover {
	background-color: #7764D1;
}
.button_text,
.button_icon {
	display: inline-flex;
	align-items: center;
	padding-top: 0;
	padding-right: 24px;
	padding-bottom: 0;
	color: #fff;
	height: 100%;
}
.button_text {
	margin-left: 9px;
	font-family: "Caros Soft", "Caros Soft Bold", "Caros Soft ExtraBold", "Caros Soft Heavy", "Caros Soft Medium";
	width: 50px;
}

.button_icon {
	font-size: 1.5em;
	background: rgba(0, 0, 0, 0.08);
	padding-left: 12px;
}
.mousegif {
	width: 178px;
	display: block;
	position: static;
	float: left;
	clear: both;
	text-align: center;
	margin-left: 25px;
}
.intro-scrollgiftext {
	text-decoration: none;
	font-family: "Caros Soft", "Caros Soft Bold", "Caros Soft ExtraBold", "Caros Soft Heavy", "Caros Soft Medium";
	font-size: 18px;
	color: #47464B;
	margin-top: 15px;
	font-weight: 500;
	clear: both;
	float: right;
	margin-right: 25px;


}
.aboutme-container {
	height: 470px;
	clear: both;
	float: right;
	width: 1160px;
	margin-right: 600px;
	margin-top: 68px;
	text-align: left;
}
.aboutme-header {
}
.aboutme-heading {
	color: #000000;
	font-family: "Caros Soft", "Caros Soft Bold", "Caros Soft ExtraBold", "Caros Soft Heavy", "Caros Soft Medium";
	font-weight: 600;
	font-size: 40px;
	text-align: center;
}
.aboutme-subheading {
	text-decoration: none;
	font-family: "Caros Soft", "Caros Soft Bold", "Caros Soft ExtraBold", "Caros Soft Heavy", "Caros Soft Medium";
	text-align: center;
	font-size: 18px;
	color: #75737B;
	margin-top: -42px;
	font-weight: 500;
}
.aboutme-description {
	color: #8c8c8c;
	font-family: "Caros Soft", "Caros Soft Bold", "Caros Soft ExtraBold", "Caros Soft Heavy", "Caros Soft Medium";
	font-size: 18px;
	width: 300px;
}
